.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 8px;
    @media (min-width: 600px) {
        padding: 24px;
    }
}

